<div class="registration-wrapper">
  <div class="container h-100">
    <div class="row h-100 align-items-center py-4">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <img src="../../../assets/brand-logo.png" class="img-fluid" alt="">
      </div>

      <!-- Registration form  -->
      <div class="col-lg-6 col-md-6  bg-white p-2 image-wrap card col-sm-12 ">

       
          <form>
            <h2 class=" text-nowrap  my-2">Create your Account</h2>
            <span>Already have an account?<strong class="text-primary"> sign in</strong></span>
            <!-- profile -->
            <div class="  my-4 row profile-pic">
              <label for="file-input">
                  <div class="position-relative">
                      <img src="../../../assets/Vector.png" alt="" class="">
                      <label
                          class="btn-gradient profile-btn rounded-circle position-absolute text-center">
                          <i class="fa-solid fa-plus text-white"></i>
                      </label>
                  </div> 

              </label>
              <!-- <input type="file" id="file-input"> -->
          </div>
            <!-- first Row -->
             <div class="row  p-2 text">
              <div class="col-md-6 col-lg-6 col-xl-6   ">
                <!-- firstname input -->
                 <div class="form-outline">
                  <label class="form-label fw-bold fs-12px" for="firstname">FirstName <span class="text-danger">*</span></label>
                  <input type="text" id="firstname" class="form-control text   " placeholder="Enter Your FirstName"
                    formControlName="firstname" />
                    <span class="p-2">Nistha</span>
                </div>
              </div>
              <!-- <span>nistha</span> -->
              <div class="col-md-6 col-lg-6 col-xl-6 "> 
                <!-- lastname input -->
                <div class="form-outline">
                  <label class="form-label fw-bold" for="lastname">LastName <span class="text-danger">*</span></label>
                  <input type="text" id="lastname" class="form-control text" placeholder="Enter lastname"
                    formControlName="lastname" />
                </div>
              </div> 
            </div> 
            <!-- second  Row -->
            <div class="row p-2 text">
              <div class="col-md-6 col-lg-6 col-xl-6  ">
                <!-- Email input -->
                <div class="form-outline">
                  <label class="form-label fw-bold" for="firstname">Email Address<span class="text-danger">*</span></label>
                  <input type="text" id="firstname" class="form-control text " placeholder="Enter Your Email Address"
                    formControlName="firstname" />
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6 ">
                <!-- Password input -->
                <div class="form-outline">
                  <div class="position-relative">
                    <label class="form-label fw-bold" for="password">Password<span class="text-danger">*</span> </label>

                    <input type="password" class="form-control text " placeholder="Enter password"
                      formControlName="password" />
                  </div>
                </div>
              </div>
            </div>
            <!-- third row  Row -->
            <div class="row p-2 text">
              <div class="col-md-6 col-lg-6 col-xl-6 ">
                <!-- Phone Number input -->
                <div class="form-outline">
                  <label class="form-label fw-bold" for="phonenumber">Phone Number<span class="text-danger">*</span></label>
                  <input type="text" class="form-control text" placeholder="Enter Phone number"
                    formControlName="phonenumber" />
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6  ">
                <!-- Select User Type input -->
                <label class="form-label  fw-bold " for="password">Select User Type<span class="text-danger  ">*</span> </label>
                <select class="form-select text" aria-label="Default select example" formControlName="usertype">
                  <option selected >Select User Type</option>
                  <option value="Studio"> owner</option>
                  <option value="Artist">Artist</option>
                  <option value="General">General</option>
                </select>
              </div>
            </div>
            <!-- fourth row  Row -->
            <div class="row p-2 text">
              <div class="col-md-6 col-lg-6 col-xl-6  ">
                <!-- Country input -->
                <div class="form-outline">
                  <label class="form-label fw-bold " for="Phoneno">Select Country<span class="text-danger text">*</span> </label>
                  <div class="form-control p-0 ">
                    <img src="../../../assets/Frame 5.png" alt="">
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6  ">
                <div class="row ">
                  <div class="col-lg-6">
                    <label class="form-label fw-bold " for="state">Select State<span class="text-danger text">*</span>
                    </label>
                    <select class="form-select text" formControlName="state">
                      <option selected >--- State ---</option>
                      <option value="Daman">Daman</option>
                      <option value="Gujarat">Gujarat</option>
                      <option value="UP">UP</option>
                    </select>
                  </div>
                  <div class="col-lg-6  ">
                    <label class="form-label fw-bold" for="city">Select City<span class="text-danger">*</span> </label>
                    <select class="form-select text" formControlName="city">
                      <option selected>--- City ---</option>
                      <option value="Daman">Daman</option>
                      <option value="Gujarat">Gujarat</option>
                      <option value="UP">UP</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-3 text-nowrap ">Note:</div>
            <div class="p-3">
              <button class="p-1 rounded px-5 mx-1 text-white">sign in</button>
            </div>
          </form>
       

      </div>
      <!-- End: Registration form  -->
    </div>
  </div>

</div>