<div class="">
    <nav class="navbar navbar-expand-lg bg-light ">
        <div class="d-flex justify-content-between p-1 w-100">
            <div class="fs-2"><span class="text-danger fs-2">1</span>Rhythm</div>
            <div class="  border border-dark rounded rounded-pill p-1 d-flex align-items-center justify-content-center">
                <label for="getserch" class="bi bi-search  fs-5 "></label>
                <input id="getserch" class=" fs-5 border border-0 outline-light mx-2 text-dark bg-light" type="search"
                    placeholder="Search" aria-label="Search">
            </div>
            <div class="me-5 header-right d-flex align-items-center">
                <div class="logo border border-dark d-flex align-items-center justify-content-center mx-3">
                    <span class="bi bi-activity  fs-2 "></span>
                </div>
                <div class="mx-3"><span class="bi bi-calendar2-fill fs-2 "></span></div>
                <div class="mx-3"><span class="bi bi-calendar3 fs-2 "></span></div>
                <div class=" logo border border-dark d-flex align-items-center justify-content-center mx-3">
                    <span class="bi bi-person fs-2 " id='btn' (click)="isOpen = !isOpen" cdkOverlayOrigin
                        #trigger="cdkOverlayOrigin">
                    </span>
                </div>
                <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
                    [cdkConnectedOverlayOpen]="isOpen" (backdropClick)="isOpen = !isOpen"
                    [cdkConnectedOverlayHasBackdrop]="true" cdkConnectedOverlayBackdropClass="any">

                    <div class="overlay-model m-2 " (click)="isOpen = !isOpen">
                        <div class="bg-secondary  px-3 ">
                            <span class="d-flex"><span class="mb-2 ">Status(available) </span> <span
                                    class="bi bi-toggle-on fs-5"></span></span>
                            <div class="mb-2 " [routerLink]="['../register-form']">Manage profile</div>
                            <div class="mb-2" [routerLink]="['studio/form']">Manage Studio</div>
                            <div [routerLink]="['../login']">Logout</div>
                        </div>
                        <div class=" bg-secondary  px-3">
                            <span class="d-flex"><span class="mb-2 ">Status(available) </span> <span
                                    class="bi bi-toggle-on fs-5"></span></span>
                            <div class="mb-2 " [routerLink]="['../register-form']">Manage profile</div>
                            <div class="mb-2 " [routerLink]="['artist/form']">Manage-Artist-profile</div>
                            <div [routerLink]="['../login']">Logout</div>
                        </div>
                        <div class="bg-secondary  px-3">
                            <div class="mb-2" [routerLink]="['artist/form']">Manage profile</div>
                            <div [routerLink]="['../login']">Logout</div>
                        </div>
                    </div>
                </ng-template>

            </div>
        </div>
    </nav>
</div>